# --- DATA SCIENCE & EDA (Notebooks) ---
jupyter
pandas
numpy
scikit-learn
matplotlib
seaborn
joblib
lightgbm
xgboost

# --- BACKEND (API) ---
fastapi
uvicorn
pydantic

# --- FRONTEND (Web) ---
streamlit
requests
folium
streamlit-folium
geopy